<rd-header>
    <rd-header-title title-text="Enclave Signing">
        <a data-toggle="tooltip" title="Refresh" ui-sref="portainer.confidential-computing"
            ui-sref-opts="{reload: true}">
            <i class="fa fa-sync" aria-hidden="true"></i>
        </a>
    </rd-header-title>
    <rd-header-content>Manage your Signing Keys for building SGX enhanced containers</rd-header-content>
</rd-header>

<information-panel title-text="Information">
    <span class="small text-muted">
        Generate or import your Signing Keys.<br />
        You can manage their access by adding teams and allowing them to use the key in the image building process.
    </span>
</information-panel>
<!-- <span>
    <button ng-click="$ctrl.testFunc()">test</button>
    <br />
</span> -->
<div class="row">
    <div class="col-sm-12">
        <keys-datatable title-text="Enclave Signing Keys" title-icon="fa-key" dataset="enclaveKeys"
            table-key="enclaveKeys" order-by="description" teams="teams" multi-close="$ctrl.updateKeyAccess" multi-open="$ctrl.saveTempSelection"
            remove-action="removeAction" create-action="$ctrl.generateKey" new-key="formData"></keys-datatable>
    </div>
</div>