<rd-header>
    <rd-header-title title-text="Confidential Computing">
        <a data-toggle="tooltip" title="Refresh" ui-sref="portainer.confidential-computing"
            ui-sref-opts="{reload: true}">
            <i class="fa fa-sync" aria-hidden="true"></i>
        </a>
    </rd-header-title>
    <rd-header-content>Settings for enclaved containers</rd-header-content>
</rd-header>

<information-panel title-text="Information">
    <span class="small text-muted">
        1) generate or import your private key for signing sgx enhanced containers.<br />
        2) set bla<br />
        3) do bla bla
    </span>
</information-panel>


<div class="row">
    <div class="col-sm-12">

        <div class="datatable">
            <rd-widget>
                <rd-widget-body classes="no-padding">
                    <div class="toolBar">
                        <div class="toolBarTitle"> <i class="fa fa-key" aria-hidden="true"
                                style="margin-right: 2px"></i> Private Key for SGX</div>
                    </div>

                    <div class="actionBar">
                        <button type="button" class="btn btn-sm btn-primary" ui-sref="#" data-cy="#">
                            <i class="fa fa-plus space-right" aria-hidden="true"></i>Generate new private key
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" ui-sref="#" data-cy="#">
                            <i class="fa fa-upload space-right" aria-hidden="true"></i>Import private key
                        </button>
                    </div>
                    <div class="p-5">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Your private key:</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="40" readonly>
-----BEGIN RSA PRIVATE KEY-----
MIIG4gIBAAKCAYEAurpcnO8HJ2Cy/TddfY0Ubtbi/AykBKWyl/YVZRUv1VJYhmMi
ftwdSpfsdfdsfdsghgfhgfjhgfjgsQBCouq6q5wScwaJHpB+NqztGzgdxMY5RbaI
9bHUMa5bg/UhwadDCf3PHAe2zyz6aNT3p0MXNogIuwjqwrmUdisNzPj3ALvjvpKz
SYJNWEd0iCXBgriSJ+jwBXFzaBJiCw+TfLWCn+dzFYG0I1K3FV6U0wzh6bUeE7Ll
bUrY9faMQhYszlD53osiaUrJ6+4hpkcKqzOWUKPnhwWMJ7jGpWwr6jrC0P1u1UWK
/fdsYW3B6vcOmymgNFWVycoMeLDLlS24324238GUkW4itPcUIsDP9CTCun74axQA
4TNdAoPORwy+UXHwX+hrYlpwycaEjOFO6vhveNZTIX3puCotJCvPIipj3CSOXJBZ
ipVVGmFvM1jd+J9OktXC80JUCH2fq2PBwI/KSXnxyGGSSmfpXYuB9Opa3lTxnczD
To+8sYidEAxGBH39AgEDAoIBgHx8Pb30r2+VzKjPk6kIuEnkl1KzGAMZIbqkDkNj
dTjhkFmXbFSSvjG+nW6RyxV7yj8Y3ogycNcMVyCq1xdHJx0StvdZsL8K/s8d82d6
voMu0NkkW052jXZ0PQKja9ZvggapNL1aed9zUZs4pRosuiRasHywnIHRDaQcs937
T1XSl9RhzNusM5AvowVugQHQYW/woAOg95q27Adft6h5Ab/vog5WeBeMeg4/DeII
lpvOFA0h7kjckKP5sta5czQ1+sPtEX3IbS4lYopQq8esL0d3ClBjb0hEpKnRsCaY
cFtL4fQIEaDfFYIZzy47HCSZGzkY3hNjn/hMlhlpzyvJvadCBf/YFkkpiOKdEHVT
FxKfFSXhn9HGHcGkHinNEwKF2JAPlufsarew2ybdc7wfd8VyLr4TBPhQtcmzToJa
6lBmI34OaHj5sAXqc3OfkjNOCzmbVkQF3D9zqKjiljY9TnAdpbUW7a6JQbklWRpc
kHH1QmuJDO5kg2/09jRISi4ukwKBwQD3j8xZ96mZkCQujdQRQf6kOY/v9fC2ch/o
7rGZArew7tsRzYvz0Ksf2aiVovrmW2n9nHDsD2rnoFd1uDxP9Jq9Tewjder2VofH
Did0NzjBWFRVhLriMGEc1QL8tiLJ8KLUXm9VcgcpQk3nuMh+2eAptxjVfEOfLBF9
yMlIy/qUqQDVRsDNXZQ8/M6AaPVbAZQaB0GZtXwBJ1cRdsUwq/BWGAq05aJyg9dp
hszg5fT4r3HqbKanFhXqIp32Vov0rcsCgcEAwRe70qZ8jSXpqEA07m9QwTfIHnp0
hN+vvcLyF1NilxzA1Wvkl4FkAGlSBnGR6mrJZyrod6x7exPvlgvQHLFkm5CfbjQW
UOI/B8cPz/DnXTgEXLzWRFnPQzieC6L/A7iIs3KZqZsUB6G36txY0e9bpvP0LuUe
pIUK99YQFdYJzuJYSjP8B8E41ITzhYCNUKipomV/84QNqCjLnJkbPofkSzVug9mL
UhYvXkyvbHmNOrWcEhKJQeLhn3aNy0lKyopXAoHBAKUKiDv6cREKwsmz4rYr/xgm
X/VOoHmhaptJy7tXJSCfPLaJB/fgchU7xbkXUe7nm/5oS0gKR0UVj6PQKDVNvH4z
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIagbI2USjj2r3DW3pp7MFSRQBvP
ZeOoLRTIC6kwhjCH/GMbVeOEgIjpDX393wBF+OdWYrwE1mZ4/VYaOgukg3XH9Y66
sc3ubExX5PEEiJXuo1B09pxIbxoOuUbBvqQ5sqMehwKBwQCAun03GaheGUZwKs30
SjXWJTAUUaMDP8p+gfa6N5cPaICOR+26VkKq8OFZoQvxnIZEx0WlHaenYp+5XTVo
dkMSYGpJeA7gltSv2gqKoJo+JVg90zmC5oos0GldF1StJbB3obvGZ2KvwSVHPZCL
9OfEoqLJ7hRtrgdP5Aq5OVvfQZAxd/1agNCNrfeuVbOLGxvBmP/3rV5wGzJoZhIp
r+2HePRX5lzhZB+UMx+dpl4nI71hYbDWl0EU+bPc24cxsY8CgcAJ6o5T3u2PvN5E
gh2OQy/PBGobHqSYfxkcFnpdRXm03h2+d5Cdj8lpZglG+rsvhpv/cPRqdSRahSRA
1ogWok6oT6Ob/o7UUCq9C25AZ/PDpSMGC5u2a25onpFGuDLPgCo+unVTBTCMUThq
G6cBJ1vvC4GBHsM17SaCGJAO95Z2QYOgnFOE65i3lKqYeJZCI7ekKDmQpur9WBZA
gSsxw4UdSIov9eqciW497I4M2m9z9JHXRQgRPZYbEWpe825LQ8c=
-----END RSA PRIVATE KEY-----
                            </textarea>
                        </div>
                    </div>

                </rd-widget-body>
            </rd-widget>
        </div>
    </div>
</div>